.filter-dropdown {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8rem;
}

.filter-dropdown select {
  width: 400px;
}

.filter {
  border: 1px solid black;
  border-radius: 5px;
  padding: 2rem;
}

.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -2rem;
  margin-top: 3rem;
}
